body {
    margin: 0;
    padding: 0;
    color: white;
    background-color: rgb(50, 50, 50);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height:100vh;
    overflow: hidden;
}

body::after {
    content: "";
    display: block;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    height: 70%;
    background: url(imgs/bg.png) no-repeat center bottom;
    background-size: contain;
    pointer-events: none;
    z-index: -1;
}

.page-wrapper {
    background: url(imgs/bg1.svg) no-repeat left top, url(imgs/bg2.svg) no-repeat right top;
    height: 100%;
    padding: 10%;
}


.intro {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 20px;
}

.intro>:nth-child(1) {
    order: 1;
}

.intro>:nth-child(2) {
    order: 3;
}

.intro>:nth-child(3) {
    order: 2;
}

header {
    position: absolute;
    top: 50px;
    left: 50%;
    z-index: 20;
    margin: 0 0 0 -190px;
    padding: 0;
    width: 450px;
    background: url(imgs/layer-middle.svg) repeat-y center top;
    background-size: 450px auto;
    text-align: center;
    text-transform: uppercase;
    transition: transform 1s ease;
}

header:hover{
    transform: translateY(300px);
}

header::before{
    top: -600px;
    height: 600px;
    background: url(imgs/hook3.svg) no-repeat center bottom, url(imgs/layer-frame.svg) no-repeat center 559px;
    background-size: 360px auto, 450px auto;
}

header::after {
    bottom: -41px;
    height: 41px;
    background: url(imgs/layer-frame.svg) no-repeat center bottom;
    background-size: 450px auto;
}

header::before,
header::after {
    position: absolute;
    left: 0;
    z-index: -1;
    display: block;
    width: 450px;
    content: '';
}

header h1 {
    margin-top: 0.3em;
    font-size: 4em;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    line-height: 1;
}

header h2 {
    font-size: 1.1em;
    margin-top: 1em;
    margin-bottom: 0.3em;
}


/* Header______________________________________________________________________________________________________________________________ */

.summary {
    position: absolute;
    top: -150px;
    left: 75%;
    z-index: 10;
    margin: 0 0 0 -190px;
    padding: 0;
    width: 450px;
    background: url(imgs/layer-middle.svg) repeat-y center top;
    background-size: 450px auto;
    text-align: center;
    transform: perspective(800px) rotateY(-40deg);
    transform-style: preserve-3d;
    color: gray;
    transition: transform 1s ease;
}
.summary:hover {
    transform: translateY(300px) translateX(-60px) rotateY(0deg);
    color: white;
}

.summary::before{
    top: -600px;
    height: 600px;
    background: url(imgs/hook2.svg) no-repeat center bottom, url(imgs/layer-frame.svg) no-repeat center 559px;
    background-size: auto auto, 450px auto;
}

.summary::after {
    bottom: -41px;
    height: 41px;
    background: url(imgs/layer-frame.svg) no-repeat center bottom;
    background-size: 450px auto;
}

.summary::before,
.summary::after {
    position: absolute;
    left: 0;
    z-index: 20;
    display: block;
    width: 450px;
    content: '';
}


.summary p{
    margin: 1em 3.7em;
    font-size: 1.2em;
}

.summary a{
    font-weight: 500;
    padding: 0 0.05em;
    color: black;
    background-color: white;
    border-radius: 3px;
    cursor: pointer;
    text-decoration: none;
}

/* Summary______________________________________________________________________________________________________________________________ */

.preamble{
    position: absolute;
    top: -500px;
    left: 20%;
    z-index: 4;
    margin: 0 0 0 -190px;
    padding: 0;
    width: 450px;
    background: url(imgs/layer-middle.svg) repeat-y center top;
    background-size: 450px auto;
    text-align: center;
    transform: perspective(800px) translateX(120px) rotateY(20deg);
    transform-style: preserve-3d;
    color: gray;
    transition: transform 1s ease;
}
.preamble:hover {
    transform: translateY(600px) translateX(200px) rotateY(0deg);
    color: white;
}


.preamble::before{
    top: -600px;
    height: 600px;
    background: url(imgs/hook2.svg) no-repeat center bottom, url(imgs/layer-frame.svg) no-repeat center 559px;
    background-size: auto auto, 450px auto;
}

.preamble::after {
    bottom: -41px;
    height: 41px;
    background: url(imgs/layer-frame.svg) no-repeat center bottom;
    background-size: 450px auto;
}

.preamble::before,
.preamble::after {
    position: absolute;
    left: 0;
    z-index: -1;
    display: block;
    width: 450px;
    content: '';
}

.preamble h3 {
    font-size: 2em;
    margin-top: 0.5em;
    margin-bottom: 0.1em;
    text-transform: uppercase;
    line-height: 1;
    
}


.preamble p{
    margin: 1em 3.7em;
    font-size: 1.2em;
    
}

/* Preamble____________________________________________________________________________________________________________________________ */

/* .main{
    position: absolute;
    top: 400px;
    left: 70%;
    z-index: 4;
    margin: 0 0 0 -190px;
    padding: 0;
    width: 550px;
    background: url(imgs/layer-middle.svg) repeat-y center top;
    background-size: 550px auto;
    text-align: center;
} */

.main {
    top: 150px;
    left: 65%;
    padding: 0;
    width: 550px;
    background: url(imgs/layer-middle.svg) repeat-y center top;
    background-size: 550px auto;
    transition: 1s ease-in-out;
    position: relative;
    transform: perspective(800px) rotateY(-20deg);
    transform-style: preserve-3d;
    
}
.main:hover {
    transform: rotateY(0deg);
}

.main::before{
    top: -600px;
    height: 600px;
    background: url(imgs/hook3.svg) no-repeat center bottom, url(imgs/layer-frame.svg) no-repeat center 549px;
    background-size: 450px auto, 550px auto;
}

.main::after {
    bottom: -51px;
    height: 51px;
    background: url(imgs/layer-frame.svg) no-repeat center bottom;
    background-size: 550px auto;
}


.main::before,
.main::after {
    position: absolute;
    left: 0;
    z-index: 1;
    display: block;
    width: 550px;
    content: '';
}

.main h3 {
    text-align: center;
    font-size: 2em;
    margin-top: 0.5em;
    margin-bottom: 0.1em;
    text-transform: uppercase;
    line-height: 1;
}

.main p{
    margin: 1em 3.7em;
    font-size: 1.2em;
    text-align: left;
}

.main a{
    font-weight: 500;
    padding: 0 0.05em;
    color: black;
    background-color: white;
    border-radius: 3px;
    cursor: pointer;
    text-decoration: none;
}

/* MAIN____________________________________________________________________________________________________ */

@keyframes explan {
    0% { opacity: 0; }
    1% { opacity: 1; }
    18% { opacity: 1; }
    19% { opacity: 0; }
    100% { opacity: 0; }
}

.explanation>:nth-child(1) {
    top: -17px;
    left: 70px;
    position: absolute;
    animation: explan 110s linear infinite;
}

@keyframes exChild2 {
    0% { opacity: 0; }
    1% { opacity: 1; }
    9% { opacity: 1; }
    10% { opacity: 0; }
    100% { opacity: 0; }
}

.explanation>:nth-child(2) {
    top: 31px;
    position: absolute;
    animation: exChild2 110s linear infinite;
}

@keyframes exChild3 {
    0% { opacity: 0; }
    9% { opacity: 0; }
    10% { opacity: 1; }
    18% { opacity: 1; }
    19% { opacity: 0; }
    100% { opacity: 0; }
}

.explanation>:nth-child(3) {
    top: 31px;
    position: absolute;
    animation: exChild3 110s linear infinite;
}

/* _________________________________________________ */

@keyframes part {
    0% { opacity: 0; }
    18% { opacity: 0; }
    19% { opacity: 1; }
    45% { opacity: 1; }
    46% { opacity: 0; }
    100% { opacity: 0; }
}

.participation>:nth-child(1) {
    top: -17px;
    left: 150px;
    position: absolute;
    animation: part 110s linear infinite;
}

@keyframes partCild2 {
    0% { opacity: 0; }
    18% { opacity: 0; }
    19% { opacity: 1; }
    27% { opacity: 1; }
    28% { opacity: 0; }
    100% { opacity: 0; }
}

.participation>:nth-child(2) {
    top: 31px;
    position: absolute;
    animation: partCild2 110s linear infinite;
}

@keyframes partCild3 {
    0% { opacity: 0; }
    27% { opacity: 0; }
    28% { opacity: 1; }
    36% { opacity: 1; }
    37% { opacity: 0; }
    100% { opacity: 0; }
}

.participation>:nth-child(3) {
    top: 31px;
    position: absolute;
    animation: partCild3 110s linear infinite;
}

@keyframes partCild4 {
    0% { opacity: 0; }
    36% { opacity: 0; }
    37% { opacity: 1; }
    45% { opacity: 1; }
    46% { opacity: 0; }
    100% { opacity: 0; }
}

.participation>:nth-child(4) {
    top: 31px;
    position: absolute;
    animation: partCild4 110s linear infinite;
}

/* _________________________________________________ */

@keyframes benefits {
    0% { opacity: 0; }
    45% { opacity: 0; }
    46% { opacity: 1; }
    54% { opacity: 1; }
    55% { opacity: 0; }
    100% { opacity: 0; }
}

.benefits>:nth-child(1) {
    top: -17px;
    left: 170px;
    position: absolute;
    animation: benefits 110s linear infinite;
}

.benefits>:nth-child(2) {
    position: absolute;
    top: 31px;
    animation: benefits 110s linear infinite;
}

/* _________________________________________________ */

@keyframes require {
    0% { opacity: 0; }
    54% { opacity: 0; }
    55% { opacity: 1; }
    99% { opacity: 1; }
    100% { opacity: 0; }
}

.requirements>:nth-child(1) {
    animation: require 110s linear infinite;
}

@keyframes requireChild2 {
    0% { opacity: 0; }
    54% { opacity: 0; }
    55% { opacity: 1; }
    63% { opacity: 1; }
    64% { opacity: 0; }
    100% { opacity: 0; }
}

.requirements>:nth-child(2) {
    position: absolute;
    top: 31px;
    animation: requireChild2 110s linear infinite;
}

@keyframes requireChild3 {
    0% { opacity: 0; }
    63% { opacity: 0; }
    64% { opacity: 1; }
    72% { opacity: 1; }
    73% { opacity: 0; }
    100% { opacity: 0; }
}

.requirements>:nth-child(3) {
    animation: requireChild3 110s linear infinite;
}

@keyframes requireChild4 {
    0% { opacity: 0; }
    72% { opacity: 0; }
    73% { opacity: 1; }
    81% { opacity: 1; }
    82% { opacity: 0; }
    100% { opacity: 0; }
}

.requirements>:nth-child(4) {
    position: absolute;
    top: 31px;
    animation: requireChild4 110s linear infinite;
}

@keyframes requireChild5 {
    0% { opacity: 0; }
    81% { opacity: 0; }
    82% { opacity: 1; }
    90% { opacity: 1; }
    91% { opacity: 0; }
    100% { opacity: 0; }
}

.requirements>:nth-child(5) {
    position: absolute;
    top: 31px;
    animation: requireChild5 110s linear infinite;
}

@keyframes requireChild6 {
    0% { opacity: 0; }
    90% { opacity: 0; }
    91% { opacity: 1; }
    99% { opacity: 1; }
    100% { opacity: 0; }
}

.requirements>:nth-child(6) {
    position: absolute;
    top: 31px;
    animation: requireChild6 110s linear infinite;
}


/* Explanation __________________________________________________________________________________________________________________________*/

/* .sidebar {
    position: absolute;
    top: 350px;
    left: 40%;
    z-index: 4;
    margin: 0 0 0 -190px;
    padding: 0;
    width: 620px;
    background: url(imgs/layer-middle.svg) repeat-y center top;
    background-size: 620px auto;
} */

.sidebar {
    top: -400px;
    left: -7%;
    padding: 0;
    width: 620px;
    background: url(imgs/layer-middle.svg) repeat-y center top;
    background-size: 620px auto;
    transition: 1s ease-in-out;
    position: relative;
    transform: perspective(800px) rotateY(20deg);
    transform-style: preserve-3d;
    
}
.sidebar:hover {
    transform: rotateY(0deg);
}

/* tansform: rotateY(40deg); */


.sidebar::before{
    top: -600px;
    height: 600px;
    background: url(imgs/hook3.svg) no-repeat center bottom, url(imgs/layer-frame.svg) no-repeat center 549px;
    background-size: 450px auto, 620px auto;
}

.sidebar::after {
    bottom: -51px;
    height: 51px;
    background: url(imgs/layer-frame.svg) no-repeat center bottom;
    background-size: 620px auto;
}

.sidebar::before,
.sidebar::after {
    position: absolute;
    left: 0;
    z-index: 1;
    display: block;
    width: 620px;
    content: '';
}

.wrapper{
    margin: 20px 70px;
}

.wrapper h3{
    text-transform: uppercase;
    font-size: 23px;
}


.design-archives{
    position: absolute;
    top: 0;
    left: 370px;
    width: 200px;
    text-align: center;
}

.zen-resources{
    position: absolute;
    top: 160px;
    left: 370px;
    width: 200px;
    text-align: center;
}


/* Designsec ___________________________________________________________________________________________________________________________*/

.design-selection{
    width: 300px;
    position: relative; /* Added to allow absolute positioning of children */
}

.select{
    margin-bottom: 0.5em;
}

.design-selection ul>li{
    margin-bottom: 10px;
}

.wrapper ul{
    list-style: none;
    padding: 0;
    margin: 0;

}

.design-name{
    text-decoration: none;
    color: white;
}

.designer-name {
    background-color: rgb(35, 35, 35);
    color: white;
    text-decoration: none;
    font-weight: 700;
    font-size: 1.5em;
    display: block;
}


.design-archives li,
.zen-resources li {
    font-size: 1.3em;
    margin: 1em 0;
}

.design-archives a,
.zen-resources a {
    text-decoration: none;
    color: white;
}




footer{
    display: none;
}
